###############################################################################
## After installing drupal, get the name of the sync config directory from
## /var/app/current/sites/default/settings.php on the instance.
###############################################################################
option_settings:
  aws:elasticbeanstalk:application:environment:
    SYNC_DIR: sites/default/files/config_XXXXXXXXXXXXXXX/sync