files:
    "/usr/bin/drush":
        mode: "000755"
        owner: root
        group: root
        content: |
          cd /var/www/html || exit 1
          DRUSH="./vendor/bin/drush"
          if [ "$(whoami)" != "webapp" ]; then
            SCRIPTPATH="$( cd -- "$(dirname "$0")" >/dev/null 2>&1 ; pwd -P )"
            sudo -uwebapp "$SCRIPTPATH/drush" $@
            exit 0
          fi
          export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
          $DRUSH $@

